USE [master]
GO
/****** Object:  Database [Olympics]    Script Date: 11/28/2024 7:16:38 PM ******/
CREATE DATABASE [Olympics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Olympics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Olympics.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Olympics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Olympics_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Olympics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Olympics]
GO
/****** Object:  Table [dbo].[athlete]    Script Date: 11/28/2024 7:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[athlete](
	[ID] [varchar](50) NULL,
	[Name] [varchar](255) NULL,
	[Sex] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Height] [varchar](50) NULL,
	[Weight] [varchar](50) NULL,
	[Team] [varchar](255) NULL,
	[NOC] [varchar](255) NULL,
	[Games] [varchar](255) NULL,
	[Year] [varchar](255) NULL,
	[Season] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[Sport] [varchar](255) NULL,
	[Event] [varchar](255) NULL,
	[Medal] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[noc_regions]    Script Date: 11/28/2024 7:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noc_regions](
	[NOC] [varchar](255) NULL,
	[region] [varchar](255) NULL,
	[notes] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
